<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#2 Template</title>
  </head>
  <body>
    <h1>Blog Filter Page</h1>
    {% comment %} Text Filter {% endcomment %}
    <p><b>Title (Normal):</b>{{post.title}}</p>
    <p><b>UpperCase:</b>{{post.title|upper}}</p>
    <p><b>LowerCase:</b>{{post.title|lower}}</p>
    <p><b>Capital:</b>{{post.title|capfirst}}</p>
    <p><b>Title Case:</b>{{post.title|title}}</p>
    <p><b>Truncatechars:</b>{{post.title|truncatechars:20}}</p>
    <p><b>Truncatewords:</b>{{post.title|truncatewords:2}}</p>
    <p><b>LineBrack:</b>{{post.title|linebreaks}}</p>
    <hr />
    <hr />
    {% comment %} Add {% endcomment %}
    <p><b>Original Price:</b>{{post.price}}</p>
    <p><b>Original Price(+5):</b>{{post.price|add:5}}</p>
    {% comment %} Division By {% endcomment %} 
    {% if post.number|divisibleby:2%}
    <p>{{post.number}} is Even</p>
    {% else %}
    <p>{{post.number}} is Odd</p>
    {% endif %} {% comment %} List Filter {% endcomment %}
    <hr />
    <p><b>First Tag:</b>{{post.tags|last}}</p>
    <p><b>Total Tag:</b>{{post.tags|length}}</p>
    <p><b>Slice (First 2):</b>{{post.tags|slice:"2"}}</p>
    <p><b>Join Tag:</b>{{post.tags|join:", "}}</p>
    <hr />
    {% comment %}Yes No\prulural{% endcomment %}
    <p>Blog Filter Page</p>
    <p>Author Available?:{{post.author|yesno:"Yes,NO,MayBe"}}</p>
    <p>Comment Counts?:{{post.comment}} Comment{{post.comment|pluralize}}</p>
    <hr />
    {% comment %} Date and TimeFilter {% endcomment %}
    <p><b>Created At:</b>{{post.created_at}}</p>
    <p><b>Formated Date:</b>{{post.created_at|date:"D d M Y"}}</p>
    <p><b>Time Only:</b>{{post.created_at|time:"H:i"}}</p>
     <hr />
     {% comment %} Encoding and Formatting {% endcomment %}
     <p><b>TItle encode:</b>{{post.title|urlencode}}</p>
     <p><b>Float Formate encode:</b>{{123.45678991|floatformat:2}}</p>
  </body>
</html>
